<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="assets/images/editar.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="assets/images/logo.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Crear Vehiculo</p>
              <form action="#!" method="POST">

                  <div class="form-group"  >
                    <label for="text" class="form-group" >Modelo</label>
                    <input type="text" name="modelo" id="modelo" class="form-control" />
                  </div>
                  <label><p class="form-group" >Marca</p></label>
                  <select class="form-control" name="marcas">
                      <option type="text" class="form-control" th:each="marca:${marcas}" th:value="${marca.id}"
                              th:text="${marca.nombre}"></option>
                  </select>  
                  
                    <label for="text" Class="form-group">Motor</label>
                    <input type="text" name="motor"  class="form-control"/>
                  
                  

                 
                    <label for="text" class="form-group">Cilindrada</label>
                    <input type="number" name="Cilindrada" id="Cilindrada" class="form-control" >
                
                 
                    <label for="text" class="form-group">Emision</label>
                    <input type="number" name="emision"  class="form-control" />
                 
                 
                    <label for="text" class="form-group">Consumo en ruta</label>
                    <input type="number" name="consumoRuta"  class="form-control" />
                 
                  
                    <label for="text" class="form-group">Consumo en Ciudad</label>
                    <input type="number" name="consumoCiudad" class="form-control" />
                  
               
                
                    <label for="text" class="form-group">Consumo Mixto</label>
                    <input type="number" name="consumoMixto"  class="form-control" />
                
                 
                    <label for="text" class="form-group">Consumo en ruta</label>
                    <input type="number" name="consumoRuta" class="form-control" />
                
                  <label for="text" class="form-group">Tipo de Combustible</label>
                  <select class="form-group" name="select">
                    <option class="form-group" tipe="number" value="value1">Nafta</option> 
                    <option class="form-group" tipe="number" value="value2" >Disel</option>
                    <option class="form-group" tipe="number" value="value3">Electrico</option>
                    <option class="form-group" tipe="number" value="value3">Hibrido</option>
                    <option class="form-group" tipe="number" value="value3">GNC</option>
                  </select>
                  <input class="form-group" type="file" name="imagen">

                  <label>Habilitado</label>
                  <input type="checkbox" name="habilitado" class="checkbox" />  
                 <button name="Registrarse" id="Registrarse" class= "btn-block btn btn-success mb-4" type="submit" >Agregar Vehiculo</button>
                </form>
                
              
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>