<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Registro</title>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/u md/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </div></body>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/login.css">
<link rel="stylesheet" href="EstilosTarjeta.css">
</head>
<body>
    <div class="container">
        <h2 class="display-4"></h2>
        <div class="row">
            <div class="col-6">
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="frontal card1"></div>
                            <div class="trasera">
                                 <div class="marca1"> </div>
                                <div class="modelo1"> </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="wrap">
                    <div class="tarjeta-wrap">
                        <div class="tarjeta">
                            <div class="frontal card2"></div>
                            <div class="trasera">
                                <div class="marca2"> </div>
                                <div class="modelo2"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</body>



</head>
<body>
    <div class="container">
        <h2 class="display-4">Comparar Auto</h2>
        <div class="row">
            <div class="col-4">
                <div class="marca1">
                    <form method="POST" action="/comparar" enctype="multipart/form-data">
                        <p class="">Vehiculo_1</p>
                        <div class="form-group">
                            <label>Marca</label>
                            <select th:field="*{marca}" class="form-control">
                                <option value="-1">---</option>
                                <option th:each="vehiculo1 : ${marca}"
                                        th:value="${vehiculo.id}"
                                        th:text="${vehiculo.marca}">
                                    
                                </option>
                            </select> 
                        </div>
                    </form>
                </div>
                <div class="modelo1">
                    <form method="POST" action="/comparar" enctype="multipart/form-data">
                        <p class=""></p>
                        <div class="form-group">
                            <label>Modelo</label>
                            <select th:field="*{modelo}" class="form-control">
                                <option value="-1">---</option>
                                <option th:each="vehiculo1 : ${modelo}"
                                        th:value="${vehiculo.id}"
                                        th:text="${vehiculo.modelo}">
                                    
                                </option>
                            </select> 
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col-4">
                <div class="marca2">
                    <form method="POST" action="/comparar" enctype="multipart/form-data">
                        <p class="">Vehiculo_2</p>
                        <div class="form-group">
                            <label>Marca</label>
                            <select th:field="*{marca}" class="form-control">
                                <option value="-1">---</option>
                                <option th:each="vehiculo2 : ${marca}"
                                        th:value="${vehiculo.id}"
                                        th:text="${vehiculo.marca}">
                                    
                                </option>
                            </select> 
                        </div>
                    </form>
                </div>  
                <div class="modelo2">
                    <form method="POST" action="/comparar" enctype="multipart/form-data">
                        <p class="">  </p>
                        <div class="form-group">
                            <label>Modelo</label>
                            <select th:field="*{modelo}" class="form-control">
                                <option value="-1">---</option>
                                <option th:each="vehiculo2 : ${modelo}"
                                        th:value="${vehiculo.id}"
                                        th:text="${vehiculo.modelo}">
                                    
                                </option>
                            </select> 
                        </div>
                    </form>
                </div>
            </div> 
        </div>
</body>

<body>
    <div class="row">
      
        <div class="col-6"> 
            <input name="Compara" id="Comparar Auto" class= "btn-block btn btn-success mb-4" type="button" value="Comparar">
        </div>
        <div class="col-4">
        </div>
    </div>

    <div class="row">
        <div class="col-2">     
        </div>
        <div class="col-6"> 
            <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
        </div>
        <div class="col-4">
        </div>
    </div>


</div>
</body>
</html>



</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
