<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="assets/images/logo.png" width="20" height="20" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Proyecto egg grupo 2</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    </head>
    <body class="landing-page landing-page1">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    
                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" width="40" height="40"   alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">Buscar Auto</a></li>
                        <li><a href="services.html">Comparar Auto</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/logout">logout</a></li>
                    </ul>
                </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient  " data-color="red">
                <div class="parallax-background">
                    <img class="parallax-background-image" src="assets/img/template/bg3.jpg">
                </div>
                <div class= "container">
                    <div class="row">
                        <div class="col-md-5 hidden-xs">
                            <div class="parallax-image">
                                <img class="phone" src="assets/img/template/iphone3.png" style="margin-top: 20px"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="description">
                                <h2>Conocer es concientizar.</h2>
                                <br>
                                <h5>Contiene los datos y valores certificados de emisiones CO2 y de consumo de combustible de más de 300 modelos de automóviles.</h5>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="description-carousel" class="carousel fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="assets/img/template/examples/ima1.jpg" alt="">
                                    </div>
                                    <div class="item active">
                                        <img src="assets/img/template/examples/ima2.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/template/examples/ima3.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/template/examples/ima4.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/template/examples/ima5.jpg" alt="">
                                    </div>
                                </div>
                                <ol class="carousel-indicators carousel-indicators-blue">
                                    <li data-target="#description-carousel" data-slide-to="0" class=""></li>
                                    <li data-target="#description-carousel" data-slide-to="1" class="active"></li>
                                    <li data-target="#description-carousel" data-slide-to="2" class=""></li>
                                    <li data-target="#description-carousel" data-slide-to="3" class=""></li>
                                    <li data-target="#description-carousel" data-slide-to="4" class=""></li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="header-text">Info. 2020:</h4>
                            <h4 class="header-text">emisiones CO2 Y COVID</h4>
                            <p>
                                Las emisiones de CO2 para calentar el planeta también han disminuido considerablemente.
                                Pero hay advertencias de que los niveles podrían aumentar rápidamente después de la pandemia.
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">              
                   
                    <div class="copyright">
                        &copy; 2020 <a>EGG GRUPO2</a>, made with love
                    </div>
                </div>
            </footer>
        </div>

    </body>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/awesome-landing-page.js" type="text/javascript"></script>
</html>
