<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="assets/images/logo.png" width="20" height="20" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Proyecto egg grupo 2</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    </head>
       <body class="landing-page landing-page1">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <a href="/">
                        <div class="logo-container">
                            <div class="logo">
                                <img src="assets/img/logo.png" alt="Creative Tim Logo">
                            </div>
                            <div class="brand">
                                AltoGrupo
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#valoraauto">
                            <i >VALORAR AUTO</i>
                            </a>
                        </li>
                        <li>
                            <a href="#compraauto">
                            <i >COMPARAR AUTO</i>
                            
                            </a>
                        </li>
                        <li>
                            <a href="/login">
                            <i >LOGIN</i>
                            
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        
        

        <div class="wrapper">
            <div class="parallax filter-gradient  " data-color="red">
                <div class="parallax-background">
                    <img class="parallax-background-image" src="assets/img/template/bg3.jpg">
                </div>
                <div class= "container">
                    <div class="row">
                        <div class="col-md-5 hidden-xs">
                            <div class="parallax-image">
                                <img class="phone" src="assets/img/template/iphone3.png" style="margin-top: 20px"/>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="description">
                                <h2>Conocer es concientizar.</h2>
                                <br>
                                <h5>Contiene los datos y valores certificados de emisiones CO2 y de consumo de combustible de más de 300 modelos de automóviles.</h5>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="description-carousel" class="carousel fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img src="assets/img/template/examples/ima1.jpg" alt="">
                                    </div>
                                    <div class="item active">
                                        <img src="assets/img/template/examples/ima2.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/template/examples/ima3.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/template/examples/ima4.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="assets/img/template/examples/ima5.jpg" alt="">
                                    </div>
                                </div>
                                <ol class="carousel-indicators carousel-indicators-blue">
                                    <li data-target="#description-carousel" data-slide-to="0" class=""></li>
                                    <li data-target="#description-carousel" data-slide-to="1" class="active"></li>
                                    <li data-target="#description-carousel" data-slide-to="2" class=""></li>
                                    <li data-target="#description-carousel" data-slide-to="3" class=""></li>
                                    <li data-target="#description-carousel" data-slide-to="4" class=""></li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="header-text">Info. 2020:</h4>
                            <h4 class="header-text">emisiones CO2 Y COVID</h4>
                            <p>
                                Las emisiones de CO2 para calentar el planeta también han disminuido considerablemente.
                                Pero hay advertencias de que los niveles podrían aumentar rápidamente después de la pandemia.
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
          <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="description" id="valoraauto">
                                <h4 class="header-text"  th:text="${autov} == null ? 'Valora tu auto' : 'Caracteristicas'" ></h4>
                                <p th:text="${autov} == null ? 
                                   'En esta seccion podras buscar informacion sobre tu auto y cuanto contamina' : 
                                   'Recuerda que tu opinion es importante para nosotros no olvides dejarla'"> </p>
                                <form th:if="${autov} == null" action="/valora" method="POST">
                                    
                                    <select class="form-control" name="id">
                                    <option  type="text" class="form-control" th:each="vehiculo:${vehiculos}" th:value="${vehiculo.id}"
                                    th:text=" ${vehiculo.marca.nombre} + ', ' + ${vehiculo.modelo}"></option>
                                    </select>
                                    <button name="Registrarse" id="Registrarse" class= "btn-block btn btn-success mb-4" type="submit" >Ver datos</button>
                                    
                                </form>
                               
                                
                                <form th:if="${autov} != null" action="/valoraok" method="POST" >
                                <table class="table table-hover table-bordered ">
                                    <thead>
                                        <tr>
                                            
                                            
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Modelo</th>
                                            <th th:text="${autov.modelo}"></td>
                                        </tr>
                                       <tr>
                                            <th scope="row">Marca</th>
                                            <th th:text="${autov.marca.nombre}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Motor</th>
                                            <th th:text="${autov.motor}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Tipo de combustible</th>
                                            <th th:text="${autov.tipo}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Cilindrada</th>
                                            <th th:text="${autov.cilindrada}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Emision CO2</th>
                                            <th th:text="${autov.emision}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Consumo en Ruta</th>
                                            <th th:text="${autov.consumoRuta}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Consumo en Ciudad</th>
                                            <th th:text="${autov.consumoUrbano}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Consumo Mixto</th>
                                            <th th:text="${autov.consumoMixto}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                    <input class="form-control" type="text" name="opinion" placeholder="Ingrese su opinion aqui">
                                     <input type= "hidden"  name="id"  th:value="${autov.id}"/>  
                                      <button name="Registrarse" id="Registrarse" class= "btn-block btn btn-success mb-4" type="submit" >Valorar</button>
                                    
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 hidden-xs">
                            <img src="assets/img/template/mac.png"/>
                        </div>
                    </div>
                </div>
            </div>
                     <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="description" id="compraauto" >
                                <h4 class="header-text" th:text="${autoc1} == null ? 'Comparar vehiculos' : 'Caracteristicas'"></h4>
                                <p th:text="${autoc1} == null ? 'En esta seccion podras comparar entre dos modelos de vehiculos' 
                                   : 'Recuerda votar tu preferido es importante para nosotros'" > </p>
                                
                                    <form th:if="${autoc1} == null" action="/valoras" method="POST">
                                       
                                    <p>Modelo 1 </p>
                                    <select class="form-control" name="id1">
                                    <option  type="text" class="form-control" th:each="vehiculo:${vehiculos}" th:value="${vehiculo.id}"
                                    th:text=" ${vehiculo.marca.nombre} + ', ' + ${vehiculo.modelo}"></option>
                                    </select>
                                         <p>Modelo 2 </p>
                                    <select class="form-control" name="id2">
                                    <option  type="text" class="form-control" th:each="vehiculo:${vehiculos}" th:value="${vehiculo.id}"
                                    th:text=" ${vehiculo.marca.nombre} + ', ' + ${vehiculo.modelo}"></option>
                                    </select>
                                      
                                    <br> <button name="Registrarse" id="Registrarse" class= "btn-block btn btn-success mb-4" type="submit" >Ver datos</button>
                                    </form>
                               <form th:if="${autoc1} != null" action="/comparaok" method="POST" >
                                <table class="table table-hover table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>Carcteristica</th>
                                            <th class="col-md-5 col-xs-5">Auto 1</th>
                                            <th class="col-md-5 col-xs-5">Auto 2</th>
                                            
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Modelo</th>
                                            <th th:text="${autoc1.modelo}"></td>
                                            <th th:text="${autoc2.modelo}"></td>
                                        </tr>
                                       <tr>
                                            <th scope="row">Marca</th>
                                            <th th:text="${autoc1.marca.nombre}"></td>
                                                <th th:text="${autoc2.marca.nombre}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Motor</th>
                                            <th th:text="${autoc1.motor}"></td>
                                                <th th:text="${autoc2.motor}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Tipo de combustible</th>
                                            <th th:text="${autoc1.tipo}"></td>
                                                <th th:text="${autoc2.tipo}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Cilindrada</th>
                                            <th th:text="${autoc1.cilindrada}"></td>
                                                <th th:text="${autoc2.cilindrada}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Emision CO2</th>
                                            <th th:text="${autoc1.emision}"></td>
                                                <th th:text="${autoc2.emision}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Consumo en Ruta</th>
                                            <th th:text="${autoc1.consumoRuta}"></td>
                                                <th th:text="${autoc2.consumoRuta}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Consumo en Ciudad</th>
                                            <th th:text="${autoc1.consumoUrbano}"></td>
                                                 <th th:text="${autoc2.consumoUrbano}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Consumo Mixto</th>
                                            <th th:text="${autoc1.consumoMixto}"></td>
                                                 <th th:text="${autoc2.consumoMixto}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Preferido</th>
                                           
                                            <th> <input type="radio" name="ganador" value="1"> <br></th> 
                                            <th> <input type="radio" name="ganador" value="2"><br/></th> 
                                              
                                        </tr>
                                    </tbody>
                                </table>
                                     <input type= "hidden"  name="id1"  th:value="${autoc1.id}"/>  
                                     <input type= "hidden"  name="id2"  th:value="${autoc2.id}"/> 
                                    <button name="votar"  class= "btn-block btn btn-success mb-4" type="submit" >Votar</button>
                                    
                                </form>
                          
                            </div>
                        </div>
                        
                        <div class="col-md-5 col-md-offset-1 hidden-xs">
                             
                            <img src="assets/img/template/mac.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">              
                   
                    <div class="copyright">
                        &copy; 2020 <a>EGG GRUPO2</a>, made with love
                    </div>
                </div>
            </footer>
        </div>

    </body>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>

        <script type="text/javascript" src="../jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('input[type=checkbox]').live('click', function(){
        var parent = $(this).parent().attr('id');
        $('#'+parent+' input[type=checkbox]').removeAttr('checked');
        $(this).attr('checked', 'checked');
    });
});
</script>
        
        

    <script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/awesome-landing-page.js" type="text/javascript"></script>
</html>
