<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/login.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="assets/images/tablero.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="assets/images/logo.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description" th:if="${sesion != null}" th:text=" 'Bienvenido ' + ${sesion.nombre} + ', ' + ${sesion.apellido}"></p>
              <form action="/editu2" method="POST">
                    <input type="hidden" name="id" id="id"  th:value="${sesion.id}" class="form-control" />
                  <button name="Registrarse" id="Registrarse" class= "btn-block btn btn-success mb-4" type="submit" >Editar Usuario</button>
               </form>
               
              <br> <a href="/agregarUsuario"> <i class='fas fa-user-plus' style='font-size:20px;color:green'> Agregar Usuario</i></a>
               <br> <a href="/agregarmarca"> <i class='fa fa-industry' style='font-size:20px;color:green'> Administrar Marcas</i></a>
              <br> <a href="/agregarvehiculo"> <i class='fas fa-car' style='font-size:20px;color:green'> Administrar Vehiculos</i></a>
              <br> <a href="/valoracionesCSV"> <i class='fas fa-file-export' style='font-size:20px;color:green'> Bajar Valoraciones</i></a>
               <br> <a href="/comparacionesCSV"> <i class='fas fa-file-export' style='font-size:20px;color:green'> Bajar Comparaciones</i></a>
                <!-- tabla-->
                
                <div>  
                <br> <div class="form-group pull-right">
                  <input href="/comparacionesCSV" type="text" class="search form-control" placeholder="¿Que Usuario busca?">
                      </div>
              <span class="counter pull-right"></span>
              <table class="table table table-sm table-dark table-bordered results">
                <thead>
                  <tr>
                    <th class="text-white mt-0">#</th>
                    <th class="text-white mt-0">NOMBRE</th>
                    <th class="text-white mt-0">APELLIDO</th>
                    <th class="text-white mt-0">Mail</th>
                    
                   
                  </tr>
                  <tr class="warning no-result">
                    <td class="text-white mt-0" colspan="4"><i class="fa fa-warning"></i> No result</td>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="usuario:${usuarios}" onclick="seleccionar(this,th:text="${usuario.id}")">
                      
                    <td  class="text-white mt-0"><a th:href="@{/editarusuario__${usuario.id}__}">Editar</a>
                    <td th:text="${usuario.nombre}" class="text-white mt-0"></td>
                    <td th:text="${usuario.apellido}" class="text-white mt-0"></td>
                    <td th:text="${usuario.email}" class="text-white mt-0"></td>
                     
                  
                  </tr>
                </tbody>
              </table>
              </div>
              
                <!-- tabla-->
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
      $(document).ready(function () {
	$(".search").keyup(function () {
		var searchTerm = $(".search").val();
		var listItem = $(".results tbody").children("tr");
		var searchSplit = searchTerm.replace(/ /g, "'):containsi('");

		$.extend($.expr[":"], {
			containsi: function (elem, i, match, array) {
				return (
					(elem.textContent || elem.innerText || "")
						.toLowerCase()
						.indexOf((match[3] || "").toLowerCase()) >= 0
				);
			}
		});

		$(".results tbody tr")
			.not(":containsi('" + searchSplit + "')")
			.each(function (e) {
				$(this).attr("visible", "false");
			});

		$(".results tbody tr:containsi('" + searchSplit + "')").each(function (e) {
			$(this).attr("visible", "true");
		});

		var jobCount = $('.results tbody tr[visible="true"]').length;
		$(".counter").text(jobCount + " item");

		if (jobCount == "0") {
			$(".no-result").show();
		} else {
			$(".no-result").hide();
		}
	});
});

  </script>
</body>
</html>
